[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
openai = "*"
pydantic = "*"

[requires]
python_version = "3.13"
